
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Search Section Styles */
.search-section {
    position: relative; 
    margin: 20px auto;
    text-align: center;
}

.search-section input[type="text"],
.search-section select {
    width: 210px;
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-section button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #45a049;
}

/* Meals Display Section Styles */
.meals-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.meal-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px; 
    overflow: hidden; 
    background: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.meal-item .meal-img {
    line-height: 0; 
}

.meal-item .meal-img img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.meal-item .meal-name {
    padding: 10px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
    overflow: auto; 
    text-align: justify;
}

.modal-content .recipe-instructions {
    text-align: justify;
    padding: 20px; 
}

#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#close-modal:hover,
#close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Autocomplete container */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 9999; /* A high z-index to ensure it's above other elements */
    top: 100%; 
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto; 
}


/* Autocomplete items: child divs */
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
}

/* Autocomplete item on hover */
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: #1e90ff !important;
    color: #ffffff;
}
.no-match {
    padding: 10px;
    color: #999;
}
#reset-filters-btn {
    padding: 8px 16px;
    margin-left: 10px; 
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reset-filters-btn:hover {
    background-color: #d32f2f; 
}

#map {
    margin-top: 20px; /* Adds some space from the previous section */
    margin-left: auto; /* Centers the map horizontally */
    margin-right: auto; /* Centers the map horizontally */
    width: 60%; /* You can adjust this value as needed for your design */
    max-width: 1000px; /* Sets a maximum width to ensure it doesn't get too large on bigger screens */
    height: 400px; /* Sets a fixed height for the map */
    border: 2px solid hsla(240, 4%, 33%, 0.493); /* Sets a dark blue border */
    border-radius: 8px; /* Rounded corners for a polished look */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}